<h1>Angular</h1>
<!-- <courses></courses>
<authors></authors> -->
<!-- <favorite [isFavorite]="post.isFavorite"></favorite> -->
<!-- <like 
[isActive]="tweet.isActive"
[likesCount]= "tweet.isLiked">
</like>

<div *ngIf="courses.length > 0; then courseList  else noCourses"></div>
<ng-template #courseList>
    List of Courses {{courses}}
</ng-template>

<ng-template #noCourses>
    No courses yet
</ng-template> -->

<!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'" >Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>OtherWise</div>
</div> -->
<!-- <button class="btn btn-primary" (click)="onAdd()">Add</button>
<ul>
    <li *ngFor= "let subject of subjects; even as isEven; index as i">
    {{i}} - {{subject.name}}  <span *ngIf="isEven">Even</span>
    <button (click)="onRemove(subject)">Remove</button>
    <button (click)="onUpdate(subject)">Update</button>

    </li>
</ul> -->

<!-- <zippy title="Shipping Details">
    Shipping Details Content
</zippy>

<zippy title="Billing Details">
    Billing Details Content
</zippy> -->

<!-- <input type="text" appInputFormat [format]="'lowercase'"> -->

<!-- <contact-form></contact-form> -->

<!-- <course-form></course-form> -->

<posts></posts>