<h1>My Followers</h1>

<!-- <div *ngFor="let follower of followers">
<img [src]="follower.avatar_url" 
alt="avatar"
width="100px">
<h5>{{follower.login}}</h5>
<p>{{follower.html_url}}</p>
</div> -->

<div class="d-flex" *ngFor="let follower of followers">
    <div class="flex-shrink-0">
      <img src="{{follower.avatar_url}}" alt="avatar" width="100px" height="100px">
    </div>
    <div class="flex-grow-1 ms-3">
        <h4>{{ follower.login}}</h4>
        <a href="follower.html_url">{{follower.html_url}}</a>    
    </div>
  </div>

